<br><br>
<div class="jumbotron">
  <h1 style="font-size:6rem">Blocipedia: Social, Markdown Wikis</h1>
</div>

<div class='col-md-6 col-md-offset-3 frame'>
  <h3>Create and share Mardown Wikis</h3><br>
  <button><%= link_to "Sign Up", new_user_registration_path %></button>
</div>


<div class='plans'>
  <div class='col-md-3 col-md-offset-2 offer'>
    <div class:'wrapper'>
      <div class="child"><h4>Create as many public wikis as you want!</h4></div>
      <div class="icon child"></div>
      <div class="child"><p>Free Plan</p></div>
    </div>
  </div>

  <div class='col-md-3 col-md-offset-2 offer'>
    <div class:'wrapper'>
      <div class="child"><h4>Create private wikis - Add & remove collaborators</h4></div>
      <div class="icon child"></div>
      <div class="child"><p>Premium Plan</p></div>
    </div>
  </div>
</div>
