<br>

 <div class="row">
   <div class="col-md-4 col-md-offset-4">
     <h1>Edit Wiki</h1>
     <p>Edit your public wiki:</p>
     <ul>
       <li>Make sure it rhymes.</li>
       <li>Be respectful of other users.</li>
       <li>The incessant use of hashtags will get you banned.</li>
     </ul>
   </div>
 </div> <br><br>

 <div class="row">
   <div class="col-md-8 col-md-offset-2">

      <%= render partial: 'form', locals: { wiki: @wiki } %>

  </div>
</div>
