<% if current_user.premium? %>
   <h2>Downgrade to Standard</h2>
   <p>Please note that  if you downgrade, you will be required to pay $15 to get your premium status back.</p>
   <%= link_to "Downgrade", downgrade_index_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade? Your private wikis will become public'} %>
 <% else %>
   <br><br><br><h2>You are already a Standard Member!</h2>
   <%= link_to "Upgrade", new_charge_path, class: 'btn btn-primary' %>
 <% end %>
